/RMIRestauranteInterface/build/
/RMIRestauranteInterface/dist/
/RMIRestauranteServer/build/
/RMIRestauranteServer/dist/
/RMIRestauranteWeb/build/
/RMIRestauranteWeb/dist/
/RMIRestauranteDesktop/build/
/build/
/nbproject/private/
**/nbproject/private/
*.class
*.bak
RMIRestauranteDesktop/Lib/
RMIRestauranteDesktop/lib/javafx-sdk-/
**/javafx-sdk-*/
**/*.dll
**/sources.txt
*.log
**/*.so
**/*.dylib